@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

#root {
  --bg-color: #f8f8f8;
  --primary: #390099;
  --secondary: #8B66CC;
  --text-color: #DDE6FF;
  --accent: #ffbd00;
}