@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --swiper-navigation-color: white !important;
--swiper-theme-color: white !important;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

html, body {
  min-height: 100vh;
}

#root {
  --bg-color: #f8f8f8;
  --primary: #2872b3;
  --secondary: #4b9ce4;
  --text-color: #f8f6f6;
  --accent: #f9c243;
}